
        *{
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
            top: 0px;
        }
        .background{
            background-image: url(images/background.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
        .container-fluid .select img{
            margin-top: 23px;
            margin-left: 5px;
            position: absolute;
        }
        .container-fluid .select .img1{
            margin-top: 23px;
            margin-left: 80px;
            position: absolute;
        }
        .container-fluid .select .language{
            background: transparent;
            appearance: none;
            color: white;
            padding: 5px 24px ;
            border: 1px solid white;
            cursor: pointer;
        }
        .container-fluid .select .language option{
            background-color: grey;
        }
        .container-fluid .select button{
            cursor: pointer;
            font-size: 15px;
            margin-left: 20px;
            padding: 10px;
        }
        .content{
            width: 950px;
            margin: auto;
            margin-top: 120px;
            text-align: center;
            padding: 70px 0;
            color: white;
        }
        .content h1{
            width: 650px;
            text-align: center;
            margin: auto;
            font-size: 50px;
            font-weight: bold;
        }
        .content h2{
            width: 650px;
            text-align: center;
            margin: auto;
            font-size: 30px;
        }
        .content form h3{
            text-align: center;
            margin: 15px;
            font-size: 20px;
        }
        .content .email input{
            width: 500px;
            margin: auto;
            padding: 15px;
            font-size: 15px;
        }
        .content .email button{
            width: 150px;
            padding: 13px;
            font-size: 20px;
            margin: auto;
            margin-top: -3px;
            margin-left: -5px;
            cursor: pointer;
        }
        .section1{
            padding: 40px 120px;
            font-size: 22px;
            background: black;
            color: white;
            border-top: 6px solid gray;
        }
        .row{
            display: flex;
            width: 100%;
            align-items: center;
            padding: 50px 0; 
        }
        .row2{
            display: flex;
            width: 100%;
            align-items: center;
            padding: 50px 0; 
        }
        .section1 h1{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .media1 video{
            display: inline-block;
            position: absolute;
            top: 35px;
            left: 30px;
            background: transparent;
        }
        .media1{
            float: right;
            background-image: url(images/image2.png) ;
            background-repeat: no-repeat;
            width: 600px;
            height: 360px;
            overflow: hidden;
            position: relative;
        }
        .section1 p{
            width: 400px;
        }
        .section1 .media video{
            width: 80%;
        }
        .section1 .media img{
            width: 80%;
        }
        .container-fluid{
            background: #000;
            color: white;
        }
        .FAQ{
            padding-top: 80px;
            margin-bottom: 40px;
            border-top: 6px solid gray;
        }
        .FAQ h2{
            width: 800px;
            margin-left: 150px;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            justify-content: center;
            margin: auto;
        }
        .card-header button img{
            float: right;
        }
        .card-header button{
            color: white;
            background: #303030;
            font-size: 20px;
            text-align: left;
            padding: 20px;
            width: 800px;
            margin-left: 28%;
            border: none;
            outline: none;
            margin-bottom: -20px;
        }
        .card-body{
            color: white;
            font-size: 20px;
            background: #303030;
            width: 800px;
            margin-left: 28.5%;
            align-items: center;
            justify-content: center;
        }

        form h3{
            text-align: center;
            margin-top: 80px;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .email input{
            width: 500px;
            padding: 15px;
            margin-left: 420px;
            font-size: 15px;
        }
        .email button{
            width: 150px;
            padding: 13px;
            font-size: 20px;
            margin: auto;
            margin-left: -5px;
            cursor: pointer;
        }

        footer {
            padding: 55px;
            border-top: 6px solid gray;
            margin-top: 80px;

        }
        footer h5{
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 25px;
            margin-left: 110px;
            
        }
        footer .list{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            margin-right: 200px;
            margin-left: 110px;
        }
        li{
            display: block;
            min-width: 150px;
            font-size: 13px;
            padding: 8px;
        }
        .language .button{
            margin-top: 30px;
            border: 1px solid white;
            max-width: max-content;
            cursor: pointer;
            color: #737373;
            margin-left: 110px;
        }
        .language .button .img1{
            margin-right: 10px;
        }
        .language .button .language{
            background: none;
            appearance: none;
            outline: none;
            border: none;
            color: white;
            padding: 5px 0;
            cursor: pointer;
        }
        .language .button .language option{
            background-color: grey;
        }

        footer p{
            margin-top: 30px;
            margin-left: 115px;
            font-size: 13px;
        }

        @media only screen and (max-width: 600px){

        }