
        *{
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
            top: 0px;
        }
        .background{
            background-image: url(images/background.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
            border-bottom: 10px solid grey;
        }
        .container-fluid .select span{
            color: white;
            margin-top: 20px;
            position: absolute;
        }
        .container-fluid .select .language{
            background: none;
            color: white;
            border-color: white;
            padding: 15px;
            justify-content: space-between;
            cursor: pointer;
        }
        .container-fluid .select .language option{
            background-color: grey;
        }
        .container-fluid .select button{
            cursor: pointer;
            font-size: 20px;
            margin-left: 20px;
            padding: 8px;
        }
        .content{
            width: 950px;
            margin: auto;
            margin-top: 120px;
            text-align: center;
            padding: 70px 0;
            color: white;
        }
        .content h1{
            width: 650px;
            text-align: center;
            margin: auto;
            font-size: 50px;
            font-weight: bold;
        }
        .content h2{
            width: 650px;
            text-align: center;
            margin: auto;
            font-size: 30px;
        }
        .content form h3{
            text-align: center;
            margin: 15px;
            font-size: 20px;
        }
        .content .email input{
            width: 500px;
            margin: auto;
            padding: 15px;
            font-size: 20px;
        }
        .content .email button{
            width: 150px;
            padding: 16px;
            font-size: 20px;
            margin: auto;
            margin-top: -5px;
            margin-left: -5px;
            cursor: pointer;
        }
        .section1{
            padding: 40px 120px;
            font-size: 22px;
            background: black;
            color: white;
            border-top: 6px solid gray;
        }
        .row{
            display: flex;
            width: 100%;
            align-items: center;
            padding: 50px 0; 
        }
        .section1 h1{
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .section1 p{
            width: 400px;
        }
        .section1 .media video{
            width: 80%;
        }
        .section1 .media img{
            width: 80%;
        }
        .section{
            background: #000;
            color: white;
        }
        .FAQ{
            padding-top: 80px;
            margin-left: 150px;
            margin-bottom: 40px;
            border-top: 6px solid gray;
        }
        .FAQ h2{
            width: 800px;
            font-size: 50px;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        .card-header button{
            color: white;
            background: #303030;
            font-size: 28px;
            text-align: left;
            padding: 10px;
            width: 900px;
            margin-left: 230px;
            border: none;
            outline: none;
            margin-bottom: -20px;
        }
        .card-body{
            color: white;
            font-size: 22px;
            background: #303030;
            width: 900px;
            margin-left: 250px;
            align-items: center;
            justify-content: center;
        }

        form h3{
            text-align: center;
            margin-top: 80px;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .email input{
            width: 500px;
            padding: 15px;
            margin-left: 350px;
            font-size: 20px;
        }
        .email button{
            width: 150px;
            padding: 16px;
            font-size: 20px;
            margin: auto;
            margin-top: -5px;
            margin-left: -5px;
            cursor: pointer;
        }

        .footer{
            display: flex;
            justify-content: center;
            justify-content: space-between;
            padding: 45px;
            border-top: 6px solid gray;
            margin-top: 50px;
        }